
header img{
    height: 50px;

}

main{
    border: 2px solid yellow;
    margin-left: 300px;
    width: calc(100% - 300px);
}

.container-blue{
    height: 120px;
    background-color: blue;
    border: 2px solid yellow;
}

aside{
    position: absolute;
    left: 0;
    top: 76px;
    width: 300px;
    height: calc(100vh - 76px);
}

.flex-nowrap {
    flex-wrap: nowrap;
    height: 900px;
}

.px-sm-2px-0bg-dark{
    height: 100%;
}

.container-quadrettoni{
    height: 900px;
    border: 2px solid black;
    display: flex;
}

.row-left{
    border: 1px solid red;
    height: 900px;
    width: 50%;
}



.row-right{
    border: 1px solid magenta;
    height: 900px;
    width: 50%;
}