

main{
    display: flex;
}

.container-main{
    border: 2px solid black;
    height: 780px;
    background-color: white;
    display: flex;
}

.row-left{
    border: 2px solid magenta;
    width: 705px;
    height: 780px;
}   
.row-right{
    border: 2px solid magenta;
    width: 400px;
    height: 780px
}

header img{
    height: 50px;

}

.sidebar{
    width: 140px;
    height: 780px;
    background-color: red;
    display: flex;
}

ul,li{
    list-style-type: none;
}
